################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/bridge/resources/WiredPlayers/obj
/bridge/resources/WiredPlayers/bin/Debug/netcoreapp2.0
/bridge/resources/WiredPlayers/.vs/WiredPlayers/v15
/bridge/resources/WiredPlayers
/bridge/server_logs.txt
/bridge/runtime
/bridge/acl.xml
/server.exe
/plugins
/node.dll
/client_packages/.listcache
/bt.dat
/bridge/server_exceptions.txt
!/bridge/runtime/MySql.Data.dll
!/bridge/runtime/Newtonsoft.Json.dll
!/bridge/runtime/System.ComponentModel.Primitives.dll
!/bridge/runtime/System.Configuration.ConfigurationManager.dll
!/bridge/runtime/System.Data.Common.dll
!/bridge/runtime/System.Data.dll
!/bridge/runtime/System.Management.dll
!/bridge/runtime/System.Security.Cryptography.Algorithms.dll
!/bridge/runtime/System.Security.Cryptography.Primitives.dll
!/bridge/runtime/System.Security.Permissions.dll
!/bridge/runtime/System.Text.Encoding.CodePages.dll
