################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/bridge/resources/WiredPlayers/obj
/bridge/resources/WiredPlayers/bin/Debug/netcoreapp2.0
/bridge/resources/WiredPlayers/.vs/WiredPlayers/v15
/bridge/resources/WiredPlayers
/bridge/server_logs.txt
/bridge/runtime
/bridge/acl.xml
/server.exe
/plugins
/node.dll
/client_packages/.listcache
/bt.dat
